*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

body{

  font-family: 'Poppins', sans-serif;

  background: linear-gradient(
    135deg,
    #d1d5db,
    #9ca3af
  );

  min-height: 100vh;
}

/* =========================
   LOGIN & REGISTER
========================= */

.login-container{

  width: 100%;

  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;
}

.login-card{

  width: 420px;

  background: white;

  padding: 40px;

  border-radius: 24px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

  text-align: center;
}

.logo{

  display: flex;

  align-items: center;

  gap: 12px;
}

.logo-icon{

  width: 70px;

  height: 70px;

  background: #374151;

  color: white;

  border-radius: 18px;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 30px;
}

.login-card h1{

  color: #111827;

  font-size: 34px;

  margin-top: 20px;

  margin-bottom: 10px;
}

.subtitle{

  color: #6b7280;

  margin-bottom: 30px;

  font-size: 15px;
}

/* INPUT */

.login-card input,
.add-card input{

  width: 100%;

  padding: 15px;

  margin-top: 15px;

  border: 1px solid #d1d5db;

  border-radius: 12px;

  outline: none;

  font-size: 14px;

  transition: 0.3s;
}

.login-card input:focus,
.add-card input:focus{

  border-color: #6b7280;

  box-shadow: 0 0 0 3px rgba(107,114,128,0.2);
}

/* BUTTON */

.login-card button{

  width: 100%;

  padding: 15px;

  margin-top: 25px;

  border: none;

  border-radius: 12px;

  background: #374151;

  color: white;

  font-size: 15px;

  cursor: pointer;

  transition: 0.3s;
}

.login-card button:hover{

  background: #4b5563;
}

/* TEXT */

.register-text{

  margin-top: 20px;

  color: #6b7280;

  font-size: 14px;
}

.register-text a{

  color: #111827;

  text-decoration: none;

  font-weight: 600;
}

.register-text a:hover{

  text-decoration: underline;
}
